VITE_SUPABASE_URL=https://ipabfocaggfyjnehohze.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwYWJmb2NhZ2dmeWpuZWhvaHplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMzgzMzAsImV4cCI6MjEwNjYxNDMzMH0.NtgqsuaIpxEQSZCgb3Za4jMqTdpQli6T6U3YtKEJu9s
